body {
    background-color: white;
    color: black;
}

header, footer {
    background-color: rgb(66, 56, 56);
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(17, 0, 255);
}

h1, h2 {
    color: rgb(255, 255, 255);
}

#Kontakt {
    background-color: rgb(215, 12, 12);
    color: blue;
}

form label, form input, form textarea {
    color: blue;
}

form input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: red;
}

main, section, p {
    color: black;
}

.legal-content {
    color: black;
}
body {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}


.logo {
    width: 150px;
    margin: 10px;
}
.hero-section {
    background-image: url('Logo.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
